@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
  --bg: hsl(300, 24%, 90%);
  --text: hsl(300, 24%, 25%);
  --shadow: hsl(300, 24%, 75%);
  --header: hsl(300, 24%, 30%);
  --btn-text: hsl(300, 24%, 90%);
  --btn-bg: hsl(300, 24%, 40%);
  --btn-hover: hsl(300, 24%, 50%);
  --btn-shadow: hsl(300, 24%, 25%);
  --input-bg: hsl(300, 24%, 75%);
  --input-text: hsl(300, 24%, 25%);
  --input-border: hsl(300, 24%, 20%);
  --input-placeholder: hsl(300, 24%, 20%, .5);
  --link-text: hsl(300, 24%, 30%);
  --link-shadow: hsl(300, 24%, 75%);
  --card-bg: hsl(300, 24%, 80%);
  --card-text: hsl(300, 24%, 25%);
  --card-border: hsl(300, 24%, 25%);

  --danger: hsl(0, 55%, 34%);
  --danger-border: hsl(0, 55%, 20%);
  --danger-text: hsl(0, 55%, 90%);
  --danger-hover: hsl(0, 55%, 40%);
  --danger-active: hsl(0, 55%, 25%);
  --danger-shadow: hsl(0, 55%, 20%);
  --card-bg-danger: hsl(0, 55%, 45%);

  --warn: hsl(44, 88%, 60%);
  --warn-border: hsl(44, 88%, 25%);
  --warn-text: hsl(44, 88%, 15%);
  --warn-hover: hsl(44, 88%, 53%);
  --warn-active: hsl(44, 88%, 25%);
  --warn-shadow: hsl(44, 88%, 20%);
  --card-bg-warn: hsl(44, 88%, 65%);

  --info: hsl(175, 60%, 50%);
  --info-border: hsl(175, 60%, 25%);
  --info-text: hsl(175, 60%, 15%);
  --info-hover: hsl(175, 60%, 53%);
  --info-active: hsl(175, 60%, 25%);
  --info-shadow: hsl(175, 60%, 20%);
  --card-bg-info: hsl(175, 60%, 65%);

  --success: hsl(110, 50%, 60%);
  --success-border: hsl(110, 50%, 25%);
  --success-text: hsl(110, 50%, 15%);
  --success-hover: hsl(110, 50%, 53%);
  --success-active: hsl(110, 50%, 25%);
  --success-shadow: hsl(110, 50%, 20%);
  --card-bg-success: hsl(110, 50%, 65%);

  --search-x-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M15 5L5 15M5 5L15 15' stroke='currentColor' stroke-width='2'/%3E%3C/svg%3E");

  @media (prefers-color-scheme: dark) {
    --bg: hsl(300, 24%, 10%);
    --text: hsl(300, 24%, 85%);
    --shadow: hsl(300, 24%, 35%);
    --header: hsl(300, 24%, 75%);
    --btn-text: hsl(300, 24%, 15%);
    --btn-bg: hsl(300, 24%, 50%);
    --btn-hover: hsl(300, 24%, 55%);
    --btn-shadow: hsl(300, 24%, 30%);
    --input-bg: hsl(300, 24%, 15%);
    --input-text: hsl(300, 24%, 80%);
    --input-border: hsl(300, 24%, 75%);
    --input-placeholder: hsl(300, 24%, 75%, .5);
    --link-text: hsl(300, 24%, 75%);
    --link-shadow: hsl(300, 24%, 10%);
    --card-bg: hsl(300, 24%, 18%);
    --card-text: hsl(300, 24%, 85%);
    --card-border: hsl(300, 24%, 60%);

    --danger-border: hsl(0, 55%, 60%);
    --danger-shadow: hsl(0, 55%, 25%);
  }
}

body {
  font-family: DynaPuff, sans-serif;
  font-size: 100%;
  color: var(--text);
  background: var(--bg);
  padding: 0;
  margin: 0;
}

.container {
  margin-inline: auto;
  max-inline-size: 560px;
  padding: .75em;

  &.narrow {
    max-inline-size: 320px;
  }
}

.margin-auto {
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--header);
  text-shadow: 3px 3px var(--text-shadow);
  margin: .25rem auto;
}

.x-lg {
  font-size: 2rem;
}

.lg {
  font-size: 1.75rem;
}

.md {
  font-size: 1.5rem;
}

.sm {
  font-size: .95rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  color: var(--text);
  font-weight: normal;
  font-size: 1.125rem;
  white-space: pre-wrap;
  line-height: 1.25rem;
  margin: .5rem 0;
}

pre {
  margin-block: auto;
  white-space: pre-line;
  font-family: inherit;
}

header {
  margin-bottom: 1rem;
}

nav a {
  display: inline-block;
  color: var(--link-text);
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow);
  padding: .5rem .75rem;
  min-width: fit-content;

  &:not(.router-link-active):hover {
    border-radius: 8px;
    background: var(--card-bg);
  }

  &.router-link-active {
    transform: scale(1.2);
    padding: .5rem;
    border-radius: 10px;
    background: var(--card-bg);
  }

  @media(max-width: 550px) {
    font-size: 1.5em;
  }
}

a:not([role=button]) {
  color: var(--link-text);
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow);

  &:hover {
    text-decoration: underline;
  }
}

.top-spacing {
  margin-top: 1rem;
}

.top-spacing-sm {
  margin-top: .5rem;
}

.bottom-spacing {
  margin-bottom: 1rem;
}

.bottom-spacing-sm {
  margin-bottom: .5rem;
}

article {
  border: 1px solid var(--card-border);
  border-radius: .5em;
  overflow: hidden;
  background: var(--card-bg);
  color: var(--card-text);
  padding: .5em;

  &.list-item {
    margin-bottom: .5em;

    &:hover {
      outline: 2px solid var(--card-border);
    }
  }

  &.danger {
    border: 1px solid var(--danger-border);
    background: var(--card-bg-danger);
    color: var(--danger-text);

    :is(h1, h2, h3, h4, h5, p) {
      color: inherit;
    }

    :is(h1, h2, h3, h4, h5) {
      margin-top: 0;
      text-shadow: 3px 3px var(--danger-shadow);
    }
  }

  &.warn {
    border: 1px solid var(--warn-border);
    background: var(--card-bg-warn);
    color: var(--warn-text);

    :is(h1, h2, h3, h4, h5, p) {
      color: inherit;
    }

    :is(h1, h2, h3, h4, h5) {
      margin-top: 0;
      text-shadow: 3px 3px var(--warn-shadow);
    }
  }

  &.info {
    border: 1px solid var(--info-border);
    background: var(--card-bg-info);
    color: var(--info-text);

    :is(h1, h2, h3, h4, h5, p) {
      color: inherit;
    }

    :is(h1, h2, h3, h4, h5) {
      margin-top: 0;
      text-shadow: 3px 3px var(--info-shadow);
    }
  }

  &.success {
    border: 1px solid var(--success-border);
    background: var(--card-bg-success);
    color: var(--success-text);

    :is(h1, h2, h3, h4, h5, p) {
      color: inherit;
    }

    :is(h1, h2, h3, h4, h5) {
      margin-top: 0;
      text-shadow: 3px 3px var(--success-shadow);
    }
  }
}

hr {
  display: block;
  height: 2px;
  margin: 1em auto;
  background: var(--input-placeholder);
  box-shadow: 2px 2px 0 0 var(--text-shadow);
  border-radius: 50%;
  border: none;
}

.flex {
  display: flex;
  gap: .5em;
  align-items: center;

  &.top {
    align-items: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.spread {
    justify-content: space-between;
  }

  &.stretch>* {
    flex: 1;
  }
}

:is(input, select, textarea, button, [role=button])[disabled] {
  cursor: not-allowed;
  opacity: .65;
}

:is(input:not([type=checkbox], [type=radio]), select, textarea, button, [role=button]) {
  display: block;
  padding: .45em .5em;
  font-family: inherit;
  font-size: inherit;
  border-radius: .5em;

  &.inline {
    display: inline-block;
    width: auto;
  }

  &.fill {
    width: stretch;
  }
}

:not(.flex)>:is(input:not([type=checkbox], [type=radio]), select, textarea, button, [role=button])+ :is(input:not([type=checkbox], [type=radio]), select, textarea, button, [role=button]) {
  margin-top: .35em;
}

:is(input:not([type=checkbox], [type=radio]), select, textarea) {
  background: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--input-border);

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    outline: 2px solid var(--input-border);
  }
}

:is(button, [role=button]) {
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: var(--btn-bg);
  color: var(--btn-text);
  position: relative;
  white-space: nowrap;
  border: 2px solid var(--btn-shadow);

  &.sm {
    font-size: .85em;
    padding: .25em;
  }

  &:not(:active, [disabled]) {
    box-shadow: 0 4px 0 0 var(--btn-shadow);
    top: -4px;
  }

  &:hover {
    background: var(--btn-hover);
  }

  &:not([disabled]):active {
    box-shadow: 0 0 0 0 var(--btn-shadow);
    top: 0;
  }

  &.danger {
    background: var(--danger);
    color: var(--danger-text);
    border: 2px solid var(--danger-shadow);

    &:not(:active, [disabled]) {
      box-shadow: 0 4px 0 0 var(--danger-shadow);
      top: -4px;
    }

    &:hover {
      background: var(--danger-hover);
    }

    &:not([disabled]):active {
      box-shadow: 0 0 0 0 var(--danger-shadow);
      top: 0;
    }
  }

  &.warn {
    background: var(--warn);
    color: var(--warn-text);
    border: 2px solid var(--warn-shadow);

    &:not(:active, [disabled]) {
      box-shadow: 0 4px 0 0 var(--warn-shadow);
      top: -4px;
    }

    &:hover {
      background: var(--warn-hover);
    }

    &:not([disabled]):active {
      box-shadow: 0 0 0 0 var(--warn-shadow);
      top: 0;
    }
  }

  &.info {
    background: var(--info);
    color: var(--info-text);
    border: 2px solid var(--info-shadow);

    &:not(:active, [disabled]) {
      box-shadow: 0 4px 0 0 var(--info-shadow);
      top: -4px;
    }

    &:hover {
      background: var(--info-hover);
    }

    &:not([disabled]):active {
      box-shadow: 0 0 0 0 var(--info-shadow);
      top: 0;
    }
  }

  &.success {
    background: var(--success);
    color: var(--success-text);
    border: 2px solid var(--success-shadow);

    &:not(:active, [disabled]) {
      box-shadow: 0 4px 0 0 var(--success-shadow);
      top: -4px;
    }

    &:hover {
      background: var(--success-hover);
    }

    &:not([disabled]):active {
      box-shadow: 0 0 0 0 var(--success-shadow);
      top: 0;
    }
  }
}

.btns-sm :is(button, [role=button]) {
  font-size: .85em;
  padding: .25em;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  mask: var(--search-x-icon);
  background-color: var(--input-text);
  mask-size: contain;
  cursor: pointer;
}

.meta {
  display: block;
  margin-bottom: .75em;
  opacity: .9;

  >* {
    vertical-align: middle;
    margin-right: .25em;
  }
}

.post .body:not(.sm) {
  font-size: 1.25em;
}

:has(>a.stretch) {
  position: relative;

  >a.stretch {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  margin: .5em 0;

  >.tag {
    display: inline-block;
    padding: .5em;
    background: var(--card-bg);
    color: var(--card-text);
    border-radius: 10px;
    border: 1px solid var(--card-border);
    margin-bottom: .5em;

    >button[aria-label=Remove] {
      cursor: pointer;
      padding: .25em .5em;
      min-width: auto;
      line-height: 1em;
      display: inline-block;
      vertical-align: middle;
      border-radius: 5px;
      margin: -.25em 0;
      margin-left: .25em;
    }
  }
}

.squiggle {
  display: block;
  margin-inline: auto;
  max-inline-size: 200px;
  overflow: hidden;
  height: 1em;

  &:after {
    display: block;
    content: '';
    background-color: var(--text);
    animation: wriggle .5s linear infinite;
    mask: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E %3Cpath fill='none' stroke='currentColor' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    margin-right: -25px;
    border-bottom: 0;
    padding-bottom: .3em;
  }
}

.toaster {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: .5em;

  >.toast {
    padding: .25em;
    display: flex;
    margin-inline: auto;
    max-inline-size: 420px;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    animation: popup .25s ease-out forwards;

    >.message {
      flex: 1;
      padding-left: .5em;
    }

    >[aria-label=Close] {
      cursor: pointer;
      padding: .25em .5em;
      border-radius: 8px;
      background: var(--btn-bg);
      color: var(--btn-text);
      border: 1px solid var(--btn-shadow);

      &:hover {
        background: var(--btn-hover);
      }
    }

    &.danger>[aria-label=Close] {
      background: var(--danger);
      color: var(--danger-text);
      border: 1px solid var(--danger-shadow);

      &:hover {
        background: var(--danger-hover);
      }
    }

    &.warn>[aria-label=Close] {
      background: var(--warn);
      color: var(--warn-text);
      border: 1px solid var(--warn-shadow);

      &:hover {
        background: var(--warn-hover);
      }
    }

    &.info>[aria-label=Close] {
      background: var(--info);
      color: var(--info-text);
      border: 1px solid var(--info-shadow);

      &:hover {
        background: var(--info-hover);
      }
    }

    &.success>[aria-label=Close] {
      background: var(--success);
      color: var(--success-text);
      border: 1px solid var(--success-shadow);

      &:hover {
        background: var(--success-hover);
      }
    }
  }
}

.modal {
  background: none;
  border: none;

  &[open] {
    animation: popup .25s ease-out forwards;
  }

  &::backdrop {
    backdrop-filter: blur(5px);
    background: hsl(0, 0%, 0%, 0.5);
  }

  >article>header {
    margin: -.5em;
    padding: .5em;
    margin-bottom: .5em;
    background: hsl(0, 0%, 0%, 0.15);
    color: var(--card-border);
    display: flex;
    justify-content: space-between;
    align-items: center;

    >button[aria-label=Close] {
      min-width: 2.15em;
      padding: 0.15em;
    }
  }
}

.media {
  display: flex;
  gap: .5em;
  align-items: center;

  &.grid {
    justify-content: center;
    flex-wrap: wrap;

    >.media-item:only-child {
      width: 400px;
    }

    &:has(>.media-item:nth-child(2))>.media-item {
      width: 175px;
    }

    &:has(>.media-item:nth-child(5))>.media-item {
      width: 130px;
    }
  }

  &.carousel {
    overflow-x: auto;
    position: relative;

    @media (hover: hover) {
      padding-bottom: 4px;
      scrollbar-color: var(--text) transparent;
      scrollbar-gutter: auto;
    }

    &:has(>.media-item:only-child) {
      justify-content: center;
      overflow: unset;
    }

    >.media-item {
      min-width: 90%;
    }
  }

  >.media-item {
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    background: var(--btn-bg);
    border: 2px solid var(--btn-shadow);
  }
}

.pfp {
  display: inline-block;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 1px solid var(--card-border);
  background: var(--card-bg);

  &.md {
    width: 100px;
    height: 100px;
  }

  &.sm {
    width: 1.75em;
    height: 1.75em;
  }
}

i.bi+span {
  @media(max-width: 550px) {
    display: none;
  }
}

@keyframes wriggle {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-25px);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}