@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
  --bg: hsl(300, 24%, 90%);
  --text: hsl(300, 24%, 25%);
  --shadow: hsl(300, 24%, 75%);
  --header: hsl(300, 24%, 30%);
  --btn-text: hsl(300, 24%, 95%);
  --btn-bg: hsl(300, 24%, 40%);
  --btn-hover: hsl(300, 24%, 50%);
  --btn-shadow: hsl(300, 24%, 25%);
  --input-bg: hsl(300, 24%, 75%);
  --input-text: hsl(300, 24%, 25%);
  --input-border: hsl(300, 24%, 20%);
  --input-placeholder: hsl(300, 24%, 20%);
  --link-text: hsl(300, 24%, 30%);
  --link-shadow: hsl(300, 24%, 75%);
  --card-bg: hsl(300, 24%, 75%);
  --card-text: hsl(300, 24%, 25%);
  --card-border: hsl(300, 24%, 25%);

  --danger: hsl(0, 55%, 34%);
  --danger-border: hsl(0, 55%, 80%);
  --danger-text: hsl(0, 55%, 90%);
  --danger-hover: hsl(0, 55%, 40%);
  --danger-active: hsl(0, 55%, 25%);
  --danger-shadow: hsl(0, 55%, 20%);
  --card-bg-danger: hsl(0, 55%, 45%);

  --warn: hsl(44, 88%, 60%);
  --warn-border: hsl(44, 88%, 25%);
  --warn-text: hsl(44, 88%, 15%);
  --warn-hover: hsl(44, 88%, 53%);
  --warn-active: hsl(44, 88%, 25%);
  --warn-shadow: hsl(44, 88%, 20%);
  --card-warn-danger: hsl(44, 88%, 65%);

  @media (prefers-color-scheme: dark) {
    --bg: hsl(200, 24%, 15%);
    --text: hsl(300, 24%, 85%);
    --shadow: hsl(300, 24%, 35%);
    --header: hsl(300, 24%, 75%);
    --btn-text: hsl(300, 24%, 15%);
    --btn-bg: hsl(300, 24%, 50%);
    --btn-hover: hsl(300, 24%, 55%);
    --btn-shadow: hsl(300, 24%, 30%);
    --input-bg: hsl(300, 24%, 10%);
    --input-text: hsl(300, 24%, 80%);
    --input-border: hsl(300, 24%, 75%);
    --input-placeholder: hsl(300, 24%, 75%);
    --link-text: hsl(300, 24%, 75%);
    --link-shadow: hsl(300, 24%, 10%);
    --card-border: hsl(300, 24%, 60%);
    --card-text: hsl(300, 24%, 85%);
    --card-bg: hsl(300, 24%, 25%);
  }
}

body {
  font-family: DynaPuff, sans-serif;
  font-size: 115%;
  color: var(--text);
  background: var(--bg);
  padding: 0;
  margin: 0;
}

.container {
  margin-inline: auto;
  max-inline-size: 512px;
  padding: .5em;

  &.narrow {
    max-inline-size: 320px;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--header);
  text-shadow: 3px 3px var(--text-shadow);
  margin: .25em auto;
}

.x-lg {
  font-size: 3em;
}

.lg {
  font-size: 2.75em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2.1em;
}

h4 {
  font-size: 1.5em;
}

p {
  color: var(--text);
  font-weight: normal;
  font-size: 1.125em;
  white-space: pre-wrap;
  line-height: 1.125em;
  margin: .5em 0;
}

pre {
  margin-block: auto;
  white-space: pre-line;
  font-family: inherit;
}

header {
  margin-top: .5em;
  margin-bottom: 1em;
}

nav a {
  display: inline-block;
  color: var(--link-text);
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow);
  padding: .5em .75em;

  &:not(.router-link-active):hover {
    border-radius: 8px;
    background: var(--card-bg);
  }

  &.router-link-active {
    transform: scale(1.2);
    padding: .5em;
    border-radius: 10px;
    background: var(--card-bg);
  }
}

main a:not([role=button]) {
  color: var(--link-text);
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow);

  &:hover {
    text-decoration: underline;
  }
}

a[role=button] {
  text-decoration: none;
}

.top-spacing {
  margin-top: 1em;
}

.bottom-spacing {
  margin-bottom: 1em;
}

article {
  border: 1px solid var(--card-border);
  border-radius: .5em;
  background: var(--card-bg);
  color: var(--card-text);
  padding: .5em;

  &.list-item {
    margin-bottom: .5em;

    &:hover {
      transform: scale(1.025);
    }
  }

  &.danger {
    border: 1px solid var(--danger-border);
    background: var(--card-bg-danger);
    color: var(--danger-text);

    :is(h1, h2, h3, h4, p) {
      color: inherit;
    }

    :is(h1, h2, h3, h4) {
      margin-top: 0;
      text-shadow: 3px 3px var(--danger-shadow);
    }
  }

  &.warn {
    border: 1px solid var(--warn-border);
    background: var(--card-bg-warn);
    color: var(--warn-text);

    :is(h1, h2, h3, h4, p) {
      color: inherit;
    }

    :is(h1, h2, h3, h4) {
      margin-top: 0;
      text-shadow: 3px 3px var(--warn-shadow);
    }
  }
}

hr {
  display: block;
  height: 2px;
  margin: 1em auto;
  background: var(--text);
  box-shadow: 2px 2px 0 0 var(--text-shadow);
  border: none;
}

.flex {
  display: flex;
  gap: .5em;
  align-items: center;

  &.center {
    justify-content: center;
  }

  &.spread {
    justify-content: space-between;
  }

  &.stretch>* {
    flex: 1;
  }
}

:is(input:not([type=checkbox], [type=radio]), select, textarea, button, [role=button]) {
  display: block;
  padding: .5em;
  font-family: inherit;
  font-size: inherit;
  border-radius: .5em;
  margin-top: .25em;
  margin-bottom: .5em;

  &.inline {
    display: inline-block;
    width: auto;
  }

  &.fill {
    width: stretch;
  }
}

:is(input:not([type=checkbox], [type=radio]), select, textarea) {
  background: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--input-border);

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    outline: 2px solid var(--input-border);
  }
}

:is(button, [role=button]) {
  cursor: pointer;
  background: var(--btn-bg);
  color: var(--btn-text);
  min-width: 100px;
  position: relative;
  white-space: nowrap;
  border: none;

  &[disabled] {
    opacity: .5;
  }

  &:not(:active, [disabled]) {
    box-shadow: 1px 4px 0 0 var(--btn-shadow);
    left: -1px;
    top: -4px;
  }

  &:hover {
    background: var(--btn-hover);
  }

  &:not([disabled]):active {
    box-shadow: 0 0 0 0 var(--btn-shadow);
    left: 0;
    top: 0;
  }

  &.danger {
    background: var(--danger);
    color: var(--danger-text);
    border: 2px solid var(--danger-shadow);

    &:not(:active, [disabled]) {
      box-shadow: 1px 4px 0 0 var(--danger-shadow);
      left: -1px;
      top: -4px;
    }

    &:hover {
      background: var(--danger-hover);
    }

    &:not([disabled]):active {
      box-shadow: 0 0 0 0 var(--danger-shadow);
      left: 0;
      top: 0;
    }
  }

  &.warn {
    background: var(--warn);
    color: var(--warn-text);
    border: 2px solid var(--warn-shadow);

    &:not(:active, [disabled]) {
      box-shadow: 1px 4px 0 0 var(--warn-shadow);
      left: -1px;
      top: -4px;
    }

    &:hover {
      background: var(--warn-hover);
    }

    &:not([disabled]):active {
      box-shadow: 0 0 0 0 var(--warn-shadow);
      left: 0;
      top: 0;
    }
  }
}

.post {
  >small {
    display: block;
    margin-bottom: .75em;
    opacity: .9;
  }

  &.sm {
    font-size: .9em;
  }
}

:has(>a.stretch) {
  position: relative;

  >a.stretch {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  margin: .5em 0;

  >.tag {
    display: inline-block;
    padding: .5em;
    background: var(--btn-bg);
    border-radius: 10px;
    box-shadow: 3px 3px 0 0 var(--btn-shadow);
    margin-bottom: .5em;

    >span[aria-label=Remove] {
      cursor: pointer;
      padding: .25em .5em;
      background: var(--btn-shadow);
      line-height: 1em;
      display: inline-block;
      vertical-align: middle;
      border-radius: 5px;
      margin: -.25em 0;
      margin-left: .25em;
    }
  }
}

.squiggle {
  display: block;
  margin-inline: auto;
  max-inline-size: 200px;
  overflow: hidden;
  height: 1em;

  &:after {
    display: block;
    content: '';
    background-color: var(--text);
    animation: shift .5s linear infinite;
    mask: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E %3Cpath fill='none' stroke='currentColor' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    margin-right: -27px;
    border-bottom: 0;
    padding-bottom: .3em;
  }
}

@keyframes shift {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-27px);
  }
}